

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#main {
    position: relative;
    width: 1024px;
    height: 600px;
    margin: 1px auto 0 auto;
    text-align: center;
    -ms-content-zooming: none;
   -ms-touch-action: pan-x pan-y;
}

.txtContent
{
    width: 1000px;
    font-family:Arial; font-size:18px; color:#000;
    border:2px solid #3171ad;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:10px;
    color:#3c556c; resize: none;
    overflow:hidden;
}

.txtContent:focus{outline-width:0;}

li {
    list-style: none;
}
div {
  
}

.pressed {
  background: tomato;
  transform: scale(1.2);
}
